@font-face {
    font-family: "VTF Victorianna";
    src: url("./fonts/vtf_victorianna_thin-webfont.woff") format("woff"),
  } 
  

body{
    background-color: black;
}

.title{
    z-index: 13;
}


.text{
    position: relative;
    width: 55%;
    left: 10em;
    top: 2em;
    z-index: 5;
}

h1{
    font-family: 'VTF Victorianna';
    font-style: normal;
    font-weight: 300;
    font-size: 10em;
    color: #FFFFFF;
    text-shadow: 3px 3px 0px #000000;
    margin: 0;
    transition-duration: .5s;
    }

h1:hover{
    color: black;
    text-shadow: 1px 4px 0px white;
    transition-duration: .5s;
}
    
h2{
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    color: #235D83;
    text-align: left;
    margin-top: 0em;
    margin-left: 16.75em;
    margin-right: 0;
    width: 100%;
    }

img{
    position: absolute;
    width: 40em;
    left: 40em;
    top: 20em;
    z-index: 2;
}

.content{
    position: absolute;
    right: 40%;
}

@media screen and (max-width: 75em){

    h1{
        font-size: 6em;
        text-shadow: 1px 2px 0px #000000;
        }

     .text{
        position: relative;
        width: 70%;
        left: 1.5em;
        top: 6em;
        z-index: 5;
    }

    h2{
        margin-left: 4.5em;
        }

    img{
    left: 19em;
    top: 16em;
    z-index: 2;
    width: 32em;    
    }

}

@media screen and (max-width: 55em){

    h1{
        font-size: 4em;
        text-shadow: 1px 1px 0px #000000;
        }

     .text{
        position: relative;
        width: 100%;
        left: 8em;
        top: 6em;
        z-index: 5;
        height: 50%;
    }

    .text{
        top: 1em;
    }

    h2{
        margin-left: 4.5em;
        margin-top: 20em;
        }

    img{
    left: 6.5em;
    top: 12em;
    z-index: 13;
    width: 25em;    
    }

    a{
        width: 100%;
    }

}